.sss{
 background-color: ;

 opacity: 0.4;
  width:1536px;
height:70px;


}
* {
margin: 0%;
padding: 0%;
font-family: Comic Sans;

}
.stss{

margin-top: 40%;

}
p{

    color: white;
    text-align: center;
font-family: cursive;
}
h1{
    color: white;
    font-family: Cursive;
 text-align: center;
}
h3{

text-align: center;

    color: white;
}
table{




    border-color: black;
}

body{





  background: url(gaek.png) 
  
}
h3{





    text-decoration: none;
}
.kolon{
background-color: #0f1b57;
transition-property:;

	transition: height 1s;
}
.kolon:hover{


	height: 400px;
	background-color: black;
	
}
/*
<a href="#" style="margin-bottom: 2px; margin-left: 94%;"><input type="submit" value="İletişim"></a> 
*/
